{
    "check-coverage": true,
    "per-file": false,
    "statements": 98.49,
    "branches": 92.42,
    "functions": 98.12,
    "lines": 98.56,
    "include": [
        "src/**/*.js"
    ],
    "reporter": [
        "lcov",
        "text",
        "html"
    ],
    "cache": true,
    "all": true
}
