{
    "check-coverage": true,
    "per-file": false,
    "statements": 98.99,
    "branches": 94.31,
    "functions": 98.12,
    "lines": 99.07,
    "include": [
        "src/**/*.js"
    ],
    "reporter": [
        "lcov",
        "text",
        "html"
    ],
    "cache": true,
    "all": true
}
