{
    "check-coverage": true,
    "per-file": false,
    "statements": 95.12,
    "branches": 81.93,
    "functions": 93.98,
    "lines": 95.16,
    "include": [
        "src/**/*.js"
    ],
    "reporter": [
        "lcov",
        "text",
        "html"
    ],
    "cache": true,
    "all": true
}
